# Foundry build files
cache/
out/

# Foundry deployment logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
/broadcast/**/run-latest.json
/broadcast/**/run-*.json

# Node.js dependencies
node_modules/

# Environment variables
.env
.env.*

# IDE and system files
.idea/
.vscode/
.DS_Store

# Logs
*.log
